# Server config
PORT=5000
NODE_ENV=development

# Database config
# Replace with your PostgreSQL connection string
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/webinar_db?schema=public"

# JWT Auth config
JWT_SECRET="xenelasia_super_secret_cybersecurity_key"

# SMTP Email config (Use Ethereal Mail or Gmail/Sendgrid/etc.)
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="Xenelasia Consultancy LLP <no-reply@xenelasia.com>"

# Frontend Client URL
CLIENT_URL="http://localhost:3000"
